 {% extends "base.html" %}
 {%block title %} book store {% endblock %}
 {%block content %}
<table class=" table mt-5 table-bordered table-hover ">
    <thead>
        <tr class="table-dark">
            <th>Category</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead> 
    <tbody>  
          {% for books in books %}
         <tr>
                    <td>{{ books.category}}</td>
                    <td>{{ books.title }}</td>
                    <td>{{books.price}}</td>
                    <td><button type="button" class="btn btn-outline-success">Buy</button></td>
                   
        </tr>
          {% endfor  %}
         
    </tbody>
</table>
{% endblock %}