{% extends 'base.html'%}

{% block title%} {{course.title}} {% endblock%}

{% block content%}
<body>
    <div class="container my-5">
        <div class="row align-items-center">
            <!-- Left Side - Image -->
            <div class="col-md-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9ToOEroj9MnbLiOLbK7muGzhxLtIoC8hPuw&s" class="img-fluid" alt="Responsive image">
            </div>

<h3>
    Автор книги :
    <small class="text-body-secondary">{{ books.author}}</small>
  </h3>

<h1> {{books.title }} </h1>

<p>Category:{{books.category}}</p>
<p>Price:{{books.price}}</p>

<button type="button" class="btn btn-outline-success">Buy</button>

</body>

{% endblock%}