 {% extends "base.html" %}
 {%block title %} book store {% endblock %}
 {%block content %}
<table class=" table mt-5 table-bordered table-hover ">
    <thead>
        <tr class="table-dark">
            <th>Category</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead> 
     <tbody>  
          {% for book in books %}
         <tr>
                    <td>{{ book.category}}</td>
                    <td><a href={% url "bookstore:single_book" book.id %}>{{ book.title }}</a></td>
                    <td>{{book.price}}</td>
                    <td><button type="button" class="btn btn-outline-success">Buy</button></td>
                   
        </tr>
          {% endfor  %}
         
    </tbody>
</table>
{% endblock %}